@import 'fonts.css';

/* Root start */

:root {
    --CR:'Comfortaa-Regular';
    --CB:'Comfortaa-Bold';
    --MR:'Montserrat-Regular';
    --MB:'Montserrat-Bold';
    --RR:'Roboto-Regular';
    --RM:'Roboto-Medium';
    --white: #FFFFFF;
    --gray: #C8C8C8;
    --orange: #F18128;
    --dark: #040D1F;
    --black : #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: var(--dark);
    font-family:var(--MR) ;
}

.btn{
    width: 166px;
    height: 45px;
    background: var(--orange);
    border-radius: 4px;
    color: var(--black);
    font-size: 14px;
    line-height: 86%;
    font-family: var(--RM);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.btn:hover{
    background: var(--dark);
    color: var(--white);
}

.title{
    font-size: 36px;
    line-height: 110%;
    color: var(--orange);
    text-transform: capitalize;
    font-family: var(--CR);
    width: max-content;
}

.title::after{
    content: '';
    display: block;
    height: 2px;
    background: var(--orange);
}


/* Root end */

/* Header start */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 20px;
}

html,body{
    scroll-behavior: smooth;
}

.header{
    position: sticky;
    top: -80px;
    z-index: 1000;
}

.header__prenav{
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
}

.header__prenav_text{
    font-size: 16px;
    line-height: 110%;
    font-family: var(--CR);
    color: var(--white);
    max-width: 166px;
    width: 100%;
}

.header__nav{
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(7.5px);
}

.header__nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__span{
    font-size: 18px;
    line-height: 110%;
    color: var(--white);
    font-family: var(--CB);
}

.header__nav_list{
    display: flex;
    gap: 30px;
    height: 100px;
    flex-wrap: wrap;
}

.header__nav_link{
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    font-family: var(--MR);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__nav_link:hover{
    color: var(--orange);
}

.header__nav_link::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--orange);
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}

.header__nav_link:hover::after{
    width: 100%;
}

/* Header end */

/* main start */

.content{
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(7, 15, 25, 0.75);
}

.main__content_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main__content_title{
    font-size: 64px;
    line-height: 120%;
    color: var(--white);
    font-family: var(--MB);
}

.main__content_text{
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
    margin: 30px 0 50px 0;
    max-width: 570px;
    width: 100%;
    text-align: justify;
}

.main__content_btn{
    display: flex;
    gap: 30px;
}

.films{
    padding: 70px 0;
}

.main__films{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));    
    gap: 30px;
    margin-top: 55px;
}

.main__films_item{
    overflow: hidden;
    position: relative;
    padding: 50px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
}

.main__films_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    transition: all 0.3s;
}

.main__films_time{
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 14px;
    line-height: 71%;
    margin-top: 12px;
}

.main__films_title{
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 12px;
    color: var(--white);
}

.main__films_text{
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    font-family: var(--RR);
}

.main__films_item:hover .main__films_img{
    transform: scale(1.3);
}

.main__films_item:hover{
    cursor: pointer;
}

.inrto{
    position: relative;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding-top: 42px;
    padding-bottom: 80px;
}

.main__inrto_text{
    font-size: 18px;
    line-height: 150%;
    color: var(--black);
    font-family: var(--RR);
    text-align: justify;
    max-width: 558px;
    width: 100%;
    margin: 50px 0;
}

.main__intro_video{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

.main__intro_film{
    height: 100%;
}

.main__intro_img{
    max-width: 100%;
}

.collection{
    padding-top: 60px;
    padding-bottom: 30px;
}

.main__collection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    grid-auto-rows: minmax(200px,auto);
    gap: 30px;
    margin-top: 50px;
}

.main_collection_item{
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    overflow: hidden;
}

.main__collection_img{
    transition: all 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.main__collection_info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main__collection_title{
    font-size: 20px;
    line-height: 22px;
    color: var(--white);
    font-family: var(--CB);
}

.main__collection_info::before{
    content: url(../img/collection/box.png);
    position: absolute;
    left: 7px;
    top: 7px;
    transition: all 0.4s;
}

.main__collection_info::after{
    content: url(../img/collection/box.png);
    position: absolute;
    right: 7px;
    top: 7px;
}

.main_collection_item:hover .main__collection_img{
    transform: scale(1.3);
}

.main_collection_item:hover .main__collection_info::before{
    transform: translate(-200%) scale(1.5);
}

.main_collection_item:hover .main__collection_info::after{
    transform: translate(200%) scale(1.5);
}

.main__collection_play{
   transition: all 0.3s; 
}

.main__collection_play:hover{
    transform: rotateX(360deg);
}

.series{
    padding-top: 30px;
    padding-bottom: 63px;
}

.main__series_item{
    position: relative;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main__series_img{
    transition: all 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.main__series{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    grid-auto-rows: minmax(185px,auto);
}

.main__series_item:nth-of-type(6n + 1){
    grid-column: span 4;
    grid-row: span 2;
    padding: 0 22px;
}

.main__series_item:nth-of-type(6n + 2){
    grid-column: span 2;
    grid-row: span 2;
}

.main__series_title{
    font-size: 24px;
    line-height: 27px;
    color: var(--white);
    font-family: var(--CB);
    margin-top: 20px;
}

.main__series_text{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--white);
    font-family: var(--CR);
    margin: 25px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

.main__series_item:nth-of-type(6n + 1) .main__series_title{
    font-size: 40px;
}

.main__series_item:hover .main__series_img{
    transform: scale(1.3);
}


/* main end */



/* footer start */

.footer{
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24px 0;
}

.footer__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box_left{
    display: flex;
    gap: 50px;
}

.footer__box_text{
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 1px;
    color: var(--white);
    font-family: var(--CB);
}